@media screen and (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
  }
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
  }
  .profile-header img {
    position: static;
    max-width: none;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border: none;
  }
  .connect ul,
  .hobbies ul,
  .dislike ul {
    padding-left: 20px;
    gap: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .connect ul,
  .hobbies ul,
  .dislike ul {
    padding-left: 50px;
    gap: 40px;
  }
}
