a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  color: #343a40;
}
article {
  max-width: 650px;
  width: 100%;
  margin: 10px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 40px 2px #dfdddd;
}
.profile-header {
  position: relative;
  background: linear-gradient(20deg, #ffd6ff, #c0adfa);
  width: 100%;
  padding: 100px;
  margin-bottom: 100px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.profile-header img {
  position: absolute;
  bottom: -70px;
  left: 20px;
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #eeecec;
}
.profile-card-content {
  padding: 20px 10px;
}
h2 {
  font-size: 1.8rem;
}
h2 + p {
  color: #343a40;
}
.time {
  margin-top: 30px;
  background: #b8c0ff;
  font-size: 1.2rem;
  color: #fff;
  padding: 20px 10px;
  border-radius: 12px;
}
.bio,
.connect,
.hobbies,
.dislike {
  margin-top: 30px;
}
.connect ul,
.hobbies ul,
.dislike ul {
  margin-top: 10px;
  display: flex;
  padding-left: 0;
  gap: 10px;
  flex-wrap: wrap;
}
.connect a {
  background-color: #b8c0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}
.connect ul li:nth-child(2n) a {
  background-color: #bbd0ff;
}
.connect a:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.connect a:focus,
.connect ul li:nth-child(2n) a:focus {
  background: #e7c6ff;
}
.connect a i {
  color: #fff;
  transition: 0.3s;
  font-size: 1.3rem;
}
